.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  opacity: 0.5;
}

.top-padding {
  padding-top: 30px;
}

.logo {
  padding: 10px;
  position: fixed;
  width: 120px;
  height: auto;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 750px) {
  .logo {
    visibility: hidden; 
  }
}

