body {
  margin: 0;
  font-family: 'Courier New', 'Courier', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(99,77,22); */
  background: #555;
  margin: auto 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border-radius: 4px;
}


@media only screen and (max-width: 750px) {
  .logo {
    opacity: 0; 
  }
}

